@font-face {
    font-family: Neue;
    src: url('../fonts/Neue.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .5s ease;
    list-style: none;
    text-decoration: none;
    outline: none;
}

::-webkit-scrollbar{
    display: none;
}

.section-lineas-bg{
    background-color: rgba(0, 0, 0, 0);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 6;
}

.lineas-bg{
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    border-right: 1px solid rgba(255, 255, 255, 0.36);
    border-left: 1px solid rgba(255, 255, 255, 0.36);
}

.linea-bg-child{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-right: 1px solid rgba(255, 255, 255, 0.36);
    
}

.linea-bg-child div{
    display: block;
    
    height: 33.3%;
}

.div-activo{
    background: rgba(20, 178, 64, 0.23);
}

#bg-6{
    border-right: 1px solid rgba(0, 0, 0, 0);
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
.section-father{
    position: relative;
    height: 100vh;
    width: 100%;
}

.div-1{
    height: 95%;
    display: flex;
    width: 95%;
    justify-content: start;
    align-items: end;
}


.div-2{
    height: fit-content;
    display: flex;
    width: 100%;

    justify-content: end;
    position: absolute;
    align-items: end;
    bottom: 0%;
    right: 0%;
}

.div-2 div{
    height: fit-content;
    display: flex;
    gap: 1.2rem;
    width: 25%;
    border-top-left-radius: 20px;
    background-color: #FFF;
    justify-content: start;
    padding: .65rem 1rem;
    align-items: center;
    bottom: 0%;
}

.div-2 div p{
    height: fit-content;
    display: flex;
    width:70%;
    justify-content: end;
    font-family: Neue;
    font-size: clamp(14px,.95vw,1rem);
    font-style: normal;
    font-weight: 300;
    line-height: 131%; /* 121.2px */
    align-items: end;
    bottom: 0%;
    
}

.div-1 h1 {
    color: #FFF;
text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.08);
font-family: Neue;
font-size: clamp(40px,6.2vw,6.7rem);
font-style: normal;
font-weight: 600;
line-height: 101%; /* 121.2px */
z-index: 3;
width: 70%;
position: relative;
}

.div-3{
    position: absolute;
    right: 1.5%;
    bottom: 0%;
    display: flex;
    gap: .75rem;
    align-items: end;
    justify-content: start;
}

.div-3 span{
width: 1px;
background: #303634;
display: block;
height:40px;
}

.div-btn-quote{
    position: fixed;
    z-index: 7;
    right: 7.5vw;
    bottom: 11%;
    padding: .6rem 1rem !important;
}

.div-btn-quote a{

    padding: 1rem 1.75rem !important;
}


.div-3 p{
    height: fit-content;
    display: flex;
    width:70%;
    justify-content: end;
    font-family: Neue;
    font-size: clamp(14px,.95vw,1rem);
    font-style: normal;
    font-weight: 300;
    line-height: 131%; /* 121.2px */
    align-items: end;
    padding-bottom: 10%;
    position: relative;
    }

nav{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    height:6.5rem;
    width: 100%;
    z-index: 8;
}

nav section{
    display: flex;
    width: 95%;
}

nav ul{
    display: flex;
    width: fit-content;
    gap: 1rem;
    justify-content: start;
    padding: .5rem;
    align-items: center;
    border-radius: 10px;
    background: #FFF;
    min-height: 43px;
}

a,button{
    cursor: pointer;
}

nav ul img{
    cursor: pointer;
}

.img-nav-1{
    min-width: 35px;
    width: 2rem;
    max-width: 4vw;
    height: auto;
}

.img-nav-2{
    min-width: 60px;
    width:5rem;
    max-width:27vw;
    height: auto;
}

nav ul div{
    display: flex;
    width: fit-content;
    gap: .5rem;
    justify-content: start;
    align-items: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

nav ul li{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-contact{
    text-transform: uppercase;
    border-radius: 10px;
    background: #14B240;
    color: white;
    height: 100%;
    padding: .5rem ;
    margin-left: .2rem;

font-family: Neue;
font-size: clamp(14px,1.05vw,1.15rem);
font-style: normal;
font-weight: 600;
line-height: 110%; /* 15.4px */
}

.btn-link{
    color: #303634;
    margin-top: .2rem;
    text-transform: uppercase;
    font-family: Neue;
    font-size: clamp(14px,1.05vw,1.15rem);
    font-style: normal;
    font-weight: 900;
    line-height: 110%; /* 15.4px */
}

.section-hero{
    height: 100vh;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section-hero img{
    position: absolute;
    top: 0%;
    width: 98%;
    left: 0%;
    height: 97%;

}

.section2-hero{
    height: 100vh;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}


.section2-hero img{
    position: absolute;
    top: 0%;
    width: 100%;
    left: 0%;
    height: 100%;
}

.padre-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 95%;
}

.informacion-hero{
    position: relative;
    z-index: 9;
    height: 90%;
    display: flex;
    align-items: start;
    justify-content: end;
    gap: 1rem;
    flex-direction: column;
    width: 100%;
}

.informacion-hero h1{
    color: #FFF;
    text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.08);
    font-family: Neue;
    font-size: clamp(30px,5.5vw,6rem);
    font-style: normal;
    font-weight: 600;
    line-height: 101%; /* 37.37px */
}


.informacion-hero p{
    color: #FFF;
    text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.08);
    font-family: Neue;
    font-size: clamp(17px,1.1vw,1.15rem);
    font-style: normal;
    font-weight: 400;
    width: 30%;
    line-height: 131%; /* 37.37px */
}

.informacion2-hero{
    position: relative;
    z-index: 9;
    height: 100%;
    display: flex;
    align-items: end;
    width: 33.5%;
}

.informacion1-div2{
    display: flex;
    width: 85%;
    height: 13%;
    justify-content: start;
    gap: 1rem;
}

.informacion1-div2 svg{
    width: auto;
    height: 40px;
}

.button-fixed{
    position: fixed;
    z-index: 10;
    bottom: 20%;
    right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 10px;
    background: #14B240;
    color: white;
    width: 264px;
    height: 68px;
    padding: 8px;
font-family: Neue;
font-size: clamp(14px,1.05vw,1.15rem);
font-style: normal;
font-weight: 600;
line-height: 110%; /* 15.4px */
}

.informacion1-div2 p{
    color: #303634;
    text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.08);
    font-family: Neue;
    font-size: clamp(14px,1.15vw,1.20rem);
    font-style: normal;
    width: 100%;
    font-weight: 550;
    line-height: 130%; /* 37.37px */
}

.informacion2-div2{
    display: flex;
    align-items: start;
    gap: .5rem;
    height: 10%;
}

.informacion2-div2 span{
    display: block;
    width: 1px;
    height: 119px;
    background-color: #303634;
}

.informacion2-div2 p{
    color: #303634;
    text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.08);
    font-family: Neue;
    font-size: clamp(14px,1.1vw,1.15rem);
    font-style: normal;
    width: 80%;
    padding-top:.5rem ;
    font-weight: 500;
    line-height: 130%; /* 37.37px */
}
  
  
@media screen and (min-width: 1280px) and (max-width: 1440px) {

    .div-2 div{
        width: 30%;
        padding: .55rem 1rem;
    }

    .informacion1-div2 svg{
        height: 35px;
    }

    .informacion1-div2 p{
        width: 85%;
    }

    .informacion2-hero{
        width: 34%;
    }
}



@media screen and (min-width: 768px) and (max-width: 1023px) {

    nav div li{
        display: block !important;
    }

    nav ul li{
        display: none;
    }

    .section-hero img{

        height: 80%;
    
    }

    .informacion-hero{
        height:55%;
    }
    
    .lineas-bg{
        width: 95%;
    }

    #bg-4{
        border-right: 1px solid rgba(0, 0, 0, 0);
    }

    
#bg-6,#bg-5{
    display: none;
}

}

@media screen and (min-width: 480px) and (max-width: 767px) {

    nav div li{
        display: block !important;
    }

    .section-hero img{

        height: 90%;
    
    }

    .informacion-hero{
        height:75%;
    }

    nav ul li{
        display: none;
    }


    .lineas-bg{
        width: 95%;
    }

    #bg-3{
        border-right: 1px solid rgba(0, 0, 0, 0);
    }

    
#bg-6,#bg-5,#bg-4{
    display: none;
}

}

@media screen and (max-width: 479px) {

    
.section-hero img{
 
    width: 100%;
    height: 95%;

}

.informacion-hero{
    height: 65%;
}


    nav div li{
        display: block !important;
    }

    .lineas-bg{
        width: 95%;
    }

    #bg-2{
        border-right: 1px solid rgba(0, 0, 0, 0);
    }

    
#bg-6,#bg-5,#bg-4,#bg-3{
    display: none;
}

    nav ul li{
        display: none;
    }
}

